<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaobing.framemvpproject.mylibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.Manifest.permission.CAMERA" />
    <uses-permission android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.SnapshotActivity"
            android:exported="false" />
        <activity
            android:name=".AniRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestDActivity"
            android:theme="@style/AppTheme2"
            android:exported="true" />
        <activity
            android:name=".activity.WebpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestCeilingAlphaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DoubleRecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".activity.LargeModeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".activity.TimeLineViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".activity.PagingActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activity.HOmeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.FuncShowActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name=".AlphaWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.yaobing.framemvpproject.mylibrary.update" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_alpha_info" />
        </receiver>
        <receiver
            android:name=".BetaWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_beta_info" />
        </receiver>
    </application>

</manifest>